{% extends 'log_manager/base-form.html' %} {% block form %}
<h4 class="text-center form-title">Check-Out</h4>
<form method="POST" action="{% url 'checkout' %}">
  {% csrf_token %} {% for field in form %}
  <div class="form-group">{{ field.label_tag }} {{ field }}</div>
  {% endfor %} {% if errors %} {% endif %}
  <input type="submit" value="Check Out" class="my-btn submit-btn" />
  {% if error %}
    <p class="sys-feedback error">{{ error }}</p>
  {% elif message %}
    <p class="sys-feedback message">{{ message }}</p>
  {% endif %}
</form>
<p>
  Already checked out?<a href="{% url 'checkin' %}" class="tag"> Checkin</a>
</p>
{% endblock %}
