/* Global Style */

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #1C133D;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
}

body {
    /* background: #F0F2F5; */
    background: #FFFFFF;
}

#main-container {
    width: 100%;
    padding: 10px;
    position: relative;
}

.main {
    position: relative;
    transition: margin-left 0.3s ease;
}

.header {
    top: 0;
    z-index: 7;
    width: 100%;
    height: 80px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: #F0F2F5;
}

.user-profile {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.user-profile-img {
    width: 50px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #AC961A;
}

.user-profile .tag {
    font-size: 14px;
}

.user-profile .username {
    font-size: 14px;
}

.user-profile .dropdown-menu {
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 120px;
    border-radius: 10px;
    background-color: #F0F2F5;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.user-profile:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a.logout-btn {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a.logout-btn:hover {
    color: #AC961A;
}


.sidebar {
    left: 0;
    z-index: 8;
    width: 300px;
    padding: 20px;
    position: fixed;
    min-height: 100vh;
    background: #1C133D;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.close-nav {
    cursor: pointer;

}

.branding {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto 10px auto;
    align-items: center;
    padding: 20px;
    background: #d9d9d9;
    border-radius: 20px;
    justify-content: center;
}

.branding img {
    width: 100%;
    height: 100%;
}

.dashboard-icon {
    padding: 10px 20px;
    background: #AC961A;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nav {
    padding: 20px;
}

.nav-icon {
    width: 40px;
    color: #d2d0d8;
    font-size: 20px;
}

.nav-item {
    padding: 0 10px;
    margin: 30px 0;
}

.nav li a {
    color: #d2d0d8;
}

.nav-item {
    color: #d2d0d8;
}

.nav a {
    text-decoration: none;
}

.nav-item a:hover,
.nav-item .fa:hover {
    color: #AC961A;
}

.nav .active {
    color: #AC961A;
}

.nav .active .fa {
    color: #AC961A;
}

.close-icon {
    color: #AC961A;
    font-size: 20px;
    cursor: pointer;
}

.main-content {
    padding: 10px;
    border-radius: 10px;
}

.tag {
    font-size: 22px;
    color: #AC961A;
}

.username {
    color: #AC961A;
}

.cta-btn {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #AC961A;
    color: white;
    border-radius: 10px;
    transition: opacity 0.3s ease;
    border: none;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.cta-btn:hover {
    opacity: 0.9;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.main-wrap,
.main-admission-card-wrap {
    margin-top: 50px;
}



/* Modal styles */
.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 9;
}


.modal-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-50px);
    opacity: 0;
    animation: fadeInUp 0.4s forwards ease-in-out;
}

@keyframes fadeInUp {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h5 {
    font-size: 1.25rem;
    color: #333;
}

.modal-body {
    margin: 20px 0;
}


.form-group input,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-group {
    margin-bottom: 10px;
}

.form-group-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}



.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #1C133D;
    transition: background-color 0.3s ease;
}

.submit-btn:active,
.submit-btn:hover{
    background-color: AC961A;
}

.record-modal input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    background-color: #e9ecef;
}

.record-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.record-details label {
    color: #444;
}

.modal .submit-btn:hover {
    background-color: #AC961A;
}


.filter-form{
    width: 320px;
    display: grid;
    grid-gap: 10px;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
}

.filter-cta {
    width: 100%;
    height: 50px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.filter-field {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}


/* Employee Page Style */

.user-card {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.user-info {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-card img {
    width: 150px;
    margin-right: 10px;
    border-radius: 45%;
}

.card-footer {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.delete-tag {
    color: red;
}

.delete-tag .fa {
    color: red;
}

.cta-tag {
    width: 100%;
    height: 100%;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    text-align: center;
    background-color: #F0F2F5;
}

.cta-tag:hover {
    background: #e0e0e0;
}

.add-employee-card {
    cursor: pointer;
}

.add-employee-form .form-control {
    width: 100%;
    padding: 12px;
}

.add-employee-btn {
    width: 100%;
    margin: 10px 0;
}

.add-employee-card:hover {
    background: #f9f9f9;
    box-shadow: 0 2px 6px #ccc;
}

.add-employee-card a {
    text-decoration: none;
}

.card-footer {
    display: flex;
    font-size: 14px;
    padding: 10px;
    justify-content: space-between;
}


/*Statistics Page Style*/

.attendance-statistics h3{
    font-weight: bold;
    color: #AC961A;
    font-size: 26px;
}

.employee-info-wrap{
    padding: 10px;
}

.employee-picture{
    width: 220px;
    height: 220px;
    border-radius: 10px;
}


.employee-name{
    font-weight: bolder;
}

.employee-info p{
    font-size: 18px;
}

.no-data-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.no-data-wrap h3{
    color: #AC961A;
    font-weight: bold;
}

.attendance_chart_wrap{
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
}

#attendance_chart{
    max-width:900px; 
    width: 600px;
    height: 400px;
    overflow-y: hidden;
    overflow-x: auto;
}

.summary-stats {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.summary-stats:active,
.summary-stats:hover{
    background-color: #F0F2F5;
}

.summary-stats h3 {
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
}

.summary-stats .tag {
    color: #007bff;
    background-color: #e3f2fd;
    border-radius: 5px;
    padding: 2px 6px;
    margin-left: 8px;
}



/* Edit Employee Page Style */

.update-info-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional overlay effect */
    z-index: 1050;
}

.update-info-modal .modal-title {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.close-modal{
    border: none;
    border-radius: 10px;
}

.close-modal .fa{
    padding: 10px;
    color: #AC961A;
    font-size: 18px;
}

.update-modal {
    width: 350px;
    height: 100%;
    align-items: center;
    z-index: 9;
    margin: 0 auto;
}

.update-modal .user-image {
    margin: 10px auto;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.update-modal .submit-btn{;
    margin-top: 10px;
}



.update-modal .submit-btn:hover{
    background-color: #AC961A;
    margin-top: 10px;
}


.cta-grid {
    margin-top: 10px ;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
}

/* Modal Content */
.modal-dialog-centered .modal-content {
    max-width: 500px;
    width: 100%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Header */
.update-user-form h4 {
    font-weight: 600;
    text-align: center;
    font-size: 24;
    color: #333;
    margin-bottom: 15px;
}



/* Custom Table Style */
.custom-table-wrap {
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    height: auto;
    background: #FFF;
    position: relative;
    box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}

.custom-table {
    width: 100%;
    height: 100%;
    max-height: 400px;
    border-collapse: collapse;
}

.custom-table thead{
    padding: 15px;
    background-color: white;
    z-index: 5;
}

.admission-card-table {
    max-height: 600px;
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 2px solid #F0F2F5;
}


.custom-table th {
    color: #0A8DD0;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}


/* Action Menu Styling */
.action-menu {
    position: relative;
    display: inline-block;
}

.action-menu-icon {
    cursor: pointer;
    color: #939393;
    padding: 10px;
    border-radius: 50%;
    ;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.action-menu-icon:hover {
    background-color: #ddd;
}

.action-menu-content {
    width: 120px;
    display: block;
    opacity: 0;
    right: 0;
    z-index: 7;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.action-menu.show .action-menu-content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.action-menu-content a {
    padding: 15px;
    display: block;
    text-decoration: none;
    font-size: 12px;
}

.action-icon {
    color: #AC961A;
    width: 30px;
    font-size: 12px;
    padding: 5px;
}

.action-menu-content a:hover {
    background-color: #f4f4f4;
}


/* Info Row */
.info-row {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}



/* Scrollable on smaller screens */
@media screen and (max-width: 768px) {

    .custom-table {
        min-width: 650px;
        max-width: 800px;
        width: 100%;
        position: relative;
    }

    .custom-table th,
    .custom-table td {
        font-size: 12px;
        padding: 8px;
    }

    .table-scroll {
        height: 100%;
        overflow-x: auto;
        overflow-y: scroll;
    }
}



/* Scroll Top Style */
.scroll-top-icon {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 20px;
    background: #AC961A;
}

.scroll-top-icon:hover {
    background-color: #898989;
    transition: 0.5s;
}

/* Style for scroll animation */
.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Animation class to be added when element is in viewport */
.animated {
    opacity: 1;
    transform: translateY(0);
}

footer {
    width: 100%;
    padding: 40px 20px;
    color: #d2d0d8;
    margin-top: 30px;
    border-radius: 10px;
}

.hr {
    color: #939393;
    border: 1px solid #939393;
}

footer h5 {
    color: #AC961A;
}

footer .fa {
    color: #939393;
}

.footer-text {
    color: #939393;
    text-decoration: none;
}

footer .fa:hover {
    color: #1C133D;
}

footer .socials span {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}


/* Responsive Media Queries for Tablet */
@media screen and (min-width: 768px) {
    .users-card-wrap {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .filter-form{
        width: 420px;
        grid-template-columns: repeat(3, 1fr);
    }

    .user-card {
        margin: 0;
    }

    .user-info {
        flex-direction: row;
    }

    .employee-info-wrap{
        display: flex;
        gap: 40px;
    }

    .update-modal {
        width: 450px;
    }

    #attendance_chart{
        max-width:100%; 
        width: 900px;
        height: 400px;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .table-scroll {
        overflow-x: auto;
        overflow-y: auto;
    }

}



/* Responsive Media Queries for Desktop*/
@media screen and (min-width: 1200px) {
    #main-container {
        width: 100%;
        min-height: 110vh;
        padding: 10px;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 20px;
        grid-template-areas: "sidebar main";
    }

    .close-btn {
        visibility: hidden;
    }

    .sidebar {
        top: 10px;
        left: 10px;
        transform: translateX(0);
    }

    .main {
        margin-left: 0;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-gap: 20px;
        grid-template-rows: 80px 1fr;
    }

    .header {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .main-content {
        padding: 10px;
        border-radius: 10px;
    }

    .users-card-wrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #attendance_chart{
        max-width:100%; 
        width: 100%;
    }



}